<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        colors="true"
        verbose="true"
        bootstrap="../tests/bootstrap.php"
        cacheResult="true"
        cacheResultFile="../var/qa/.phpunit.result.cache"
        executionOrder="depends,defects"
        forceCoversAnnotation="true"
        timeoutForMediumTests="10"
        timeoutForSmallTests="1"
        timeoutForLargeTests="300"
        failOnRisky="true"
        failOnWarning="true"
        defaultTestSuite="tests"
        beStrictAboutTodoAnnotatedTests="true"
        beStrictAboutCoversAnnotation="false"
>
    <logging>
        <testdoxHtml outputFile="./../var/qa/phpunit_coverage"/>
        <text outputFile="php://stdout"/>
        <!-- Bugs with the XML coverage system and skipping tests from data providers //-->
        <!--        <testdoxXml outputFile="./../var/qa/phpunit_logs/coverage-xml"/>-->
        <junit outputFile="./../var/qa/phpunit_logs/phpunit.junit.xml"/>
    </logging>
    <testsuites>
        <testsuite name="tests">
            <directory suffix="Test.php">../tests/Small</directory>
            <directory suffix="Test.php">../tests/Medium</directory>
            <directory suffix="Test.php">../tests/Large</directory>
        </testsuite>
        <testsuite name="small">
            <directory suffix="Test.php">../tests/Small</directory>
        </testsuite>
        <testsuite name="medium">
            <directory suffix="Test.php">../tests/Medium</directory>
        </testsuite>
        <testsuite name="large">
            <directory suffix="Test.php">../tests/Large</directory>
        </testsuite>
    </testsuites>
</phpunit>
